.App {
  text-align: center;

  .container {
    display: flex;
    justify-content: center;

    .auth {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: lightGreen;
      height: 100vh;
    }

    h1 {
      font-size: 23px;
      color: black;
      margin-bottom: 23px;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 12px;
      background-color: black;
    }

    input {
      padding: 12px;
      border: none;
      border-bottom: 1px solid red;
    }

    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;

        .links {
          display: flex;
          gap: 12px;
        }

        .write {
          background-color: aqua;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px dotted;

          &:hover {
            background-color: teal;
            background-color: aliceblue;
            border: 1px dotted;
          }
        }
      }
    }

    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
      }

      .menu {
        flex: 2;
      }
    }

    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;
          background-size: contain;

          &:nth-child(2n+1){
            flex-direction: row-reverse;
          }

          .img {
            flex: 1;
            position: relative;

            &::after{
              content:"";
              width: 100%;
              height: 100%;
              background-color: lightpink;
              position: absolute;
              top: 20px;
              left: -15px;
              z-index: -1;
            }

            img {
              max-height: 400px;
              object-fit: cover;
            }
          }

          .content {
            flex: 2;
          }
        }
      }
    }
  }
}
